<a href="https://colab.research.google.com/github/Puja025/Python/blob/main/Python%20Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. print() function

A) Let's start with a long time programming tradition and print "Hello World!" by typing it inside print() function.

In [ ]:
print("Hello World!")

Hello World!

B) Now try to assign "Hello World!" to the variable my_text.

In [ ]:
my_text="Hello World!"
print(my_text)

Hello World!

C) Type a couple of different values inside the print function. Make sure they are separated by commas.

In [ ]:
print("SpaceX", "Blue Origin", "Sierra Nevada")

SpaceX Blue Origin Sierra Nevada

#### 2. Variables

A) Below is a good example of mixing numbers and text inside the print() function. Assign a number to the variable: glass_of_water

In [ ]:
glass_of_water=3
print("I drank", glass_of_water, "glasses of water today.")

I drank 3 glasses of water today.

B) Let's try to see what happens after assigning a new value to our variable. Note that program gets executed line by line. Print out the variable. What do you expect?

In [ ]:
#Fill the print function so it prints glass_of_water
glass_of_water=3
glass_of_water=glass_of_water + 1
print(glass_of_water)

4

#### 3. Data Types

A) Let's check out a simple integer example. Assign an integer to the variable, then print it.

In [ ]:
men_stepped_on_the_moon=12
print(men_stepped_on_the_moon)

12

B) Now a string example. Type a couple of words or a short sentence for your variable, then print it.

In [ ]:
my_reason_for_coding="Programming robots."
print(my_reason_for_coding)

Programming robots.

C) Let's try to see what happens after assigning a new value to our variable. Overwrite the sea level with the correct value of 21.36. Note that program gets executed line by line.

In [ ]:
global_mean_sea_level_2018=21
global_mean_sea_level_2018=21.36
print(global_mean_sea_level_2018)

21.36

D) Finally a boolean example. Assign True or False.

In [ ]:
staying_alive=True
print(staying_alive)

True

#### 4. Type Conversion

A) Using type() function assign the type of the variable to answer_1, then print it.

In [ ]:
men_stepped_on_the_moon=12
answer_1=type(men_stepped_on_the_moon)
print(answer_1)

<class 'int'>

B) Using type() function assign the type of the variable to answer_2, then print it.

In [ ]:
my_reason_for_coding="intergalactic travel"
answer_2=type(my_reason_for_coding)
print (answer_2)

<class 'str'>

C) Using type() function assign the type of the variable to answer_3, then print it.

In [ ]:
global_mean_sea_level_delta_2018=21.36
answer_3=type(global_mean_sea_level_delta_2018)
print(answer_3)

<class 'float'>

D) We will now print the type of boolean data. Later stages in programming, booleans become quite common.

In [ ]:
staying_alive=True
answer_4=type(staying_alive)
print(answer_4)

<class 'bool'>

E) Let's now try to convert a string into an integer. Hint: Google how to do the conversion in python!

In [ ]:
my_grade="10"
answer_5=int(my_grade)
print(answer_5)

10

F) Can you convert a float into an integer.

In [ ]:
my_temp=97.70
answer_6=int(my_temp)
print(answer_6)

97

G) Now let's convert a string into a float.

In [ ]:
shoe_price="69.99"
answer_7=float(shoe_price)
print(answer_7)

69.99

H) Finally, str will help you convert a data into a string. GWP denotes the total economic activity created by the world population collectively in a year.

In [ ]:
gross_world_product=84.84
gwp_str=str(gross_world_product)
answer_8="In 2018 gross product of the world (GWP) was " + gwp_str + " in trillion US dollars."
print(answer_8)

In 2018 gross product of the world (GWP) was 84.84 in trillion US dollars.

#### 5. Data Structures

A) Let's create an empty list and print its type. Create an empty list on and assign its type.

In [ ]:
gift_list=[]
answer_1=type(gift_list)
print(answer_1)

<class 'list'>

B) Now, we will create an empty dictionary and print its type. Create an empty dictionary and assign its type.

In [ ]:
grocery_items={}
answer_2=type(grocery_items)
print(answer_2)

<class 'dict'>

C) Then we will create an empty tuple and print its type.

In [ ]:
bucket_list=()
answer_2=type(bucket_list)
print(answer_2)

<class 'tuple'>

D) Let's create a list with values in it. Fill in the right side of equation so that gift_list is assigned to a list with values in it.

In [ ]:
gift_list=['socks', '4K drone', 'wine', 'jam', 'pajamas']
print(gift_list)

['socks', '4K drone', 'wine', 'jam', 'pajamas']

E) Now let's create a dictionary with values in it. Fill in the right side of equation so that grocery_list is assigned to a dictionary with values in it.

In [ ]:
grocery_list= {
    'banana': 4,
    'milk': 2,
    'bread': 1
}
print(grocery_list)

{'banana': 4, 'milk': 2, 'bread': 1}

F) Finally, let's create a tuple with values in it. Fill in the right side of equation so that bucket_list is assigned to a tuple with values in it.

In [ ]:
bucket_list=('learn Python',  'go to space', 'scuba diving', 'climb Everest')
print(bucket_list)

('learn Python', 'go to space', 'scuba diving', 'climb Everest')

#### 6. Lists

A) Assign the first element of the list to answer_1

In [ ]:
lst=[11, 100, 99, 1000, 999]
answer_1=lst[0]
print(answer_1)

11

B) And let's print the second element directly inside print function. This time print the second element of the list directly. You should get 100.

In [ ]:
lst=[11, 100, 101, 999, 1001]
print(lst[1])

100

C) And the last element.
Print the last element of the list through variable answer_1.

In [ ]:
lst=[11, 100, 101, 999, 1001]
answer_1=lst[-1]
print(answer_1)

1001

D) .append() method will let you add items to your lists.
Add the string "pajamas" to the list with .append() method.

In [ ]:
gift_list=['socks', '4K drone', 'wine', 'jam']
gift_list.append('pajamas')
print(gift_list)

['socks', '4K drone', 'wine', 'jam', 'pajamas']

E) Lists can hold many type of data inside them. You can even add another list to a list as its element. This is called nested data in Python. This time add the sub-list: ["socks", "tshirt", "pajamas"] to the end of the gift_list.

In [ ]:
gift_list=['socks', '4K drone', 'wine', 'jam']
gift_list.append(["socks","tshirt","pajamas"])
print(gift_list)

['socks', '4K drone', 'wine', 'jam', ['socks', 'tshirt', 'pajamas']]

F) .insert() lets you specify the index you want to add your item.
This time insert "slippers" to index 3 of gift_list.

In [ ]:
gift_list=['socks', '4K drone', 'wine', 'jam']
gift_list.insert(2, "slippers")
print(gift_list)

['socks', '4K drone', 'slippers', 'wine', 'jam']

G) With .index() method you can learn the index number of an item inside your list. Assign the index no of 8679 to the variable answer_1.

In [ ]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
answer_1=lst.index(8679)
print(answer_1)

8

H) Using .append() method, add a new list to the end of the list which contains strings: "Navigator" and "Suburban".

In [ ]:
lst=["CRV", "Outback", "XC90", "GL", "Cherokee", "Escalade"]
lst.append(["Navigator", "Suburban"])
print(lst)

['CRV', 'Outback', 'XC90', 'GL', 'Cherokee', 'Escalade', ['Navigator', 'Suburban']]

I) Using .remove() method, clear the last element of the list.

In [ ]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
lst.remove(99)
print(lst)

[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123]

J) Using .reverse() method, reverse the list.

In [ ]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
lst.reverse()
print(lst)

[99, 123, 8679, 2, 1, 101, 76, 6, 54, 777, 55]

K) Using .count() method, count how many times 6 occur in the list.

In [ ]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]
answer_1=lst.count(6)
print(answer_1)

4

L) What is the sum of all the numbers in the list?

In [ ]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]
answer_1 = sum(lst)
print(answer_1)

1090

M) What is the minimum value in the list?

In [ ]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]
answer_1 = min(lst)
print(answer_1)

1

N) What is the maximum value in the list?

In [ ]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]
answer_1 = max(lst)
print(answer_1)

777

#### 7. Tuples

A) Assign the first element of the tuple to answer_1.

In [ ]:
tt=(11, 100, 99, 1000, 999)
answer_1 = tt[0]
print(answer_1)

11

B) This time print the third element of the tuple.

In [ ]:
tt=(11, 100, 101, 999, 1001)
answer_1 = tt[2]
print(answer_1)

101

C) Print the second from the last element of the tuple.

In [ ]:
lst=(11, 100, 101, 999, 1001)
answer_1 = lst[-2]
print(answer_1)

999

D) What's the index of 2?

In [ ]:
tt=(55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99)
answer_1=tt.index(2)
print(answer_1)

7

E) How many times does 777 occur?

In [ ]:
tt=(55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)
answer_1=tt.count(777)
print(answer_1)

2

F) What is the sum of all the numbers in the tuple?

In [ ]:
tt=(42, 1092, 11, 88, 65, 2, 6)
ans_1 = sum(tt)
print(answer_1)

2

G) What is the minimum value in the tuple?

In [ ]:
tt=(66, 555, 11, 101, 9, 1001)
ans_1 = min(tt)
print(answer_1)

2

H) What is the maximum value in the tuple?

In [ ]:
tt=(66, 555, 11, 101, 9, 1001)
ans_1 = max(tt)
print(answer_1)

2

#### 8. Dictionaries

A) Dictionaries don't have index orders, so speaking about them regarding their first item or last item is not very correct. Next time you print a dictionary it may have a different order than you saw before. Instead they have keys, and we can use keys to call their values. When was Plato born?

In [ ]:
person={
    "name": "Plato",
    "country": "Ancient Greece",
    "born": -427,
    "teacher": "Socrates",
    "student": "Aristotle"
}
answer_1 = person["born"]
print(answer_1)

-427

B) Change Plato's birth year from B.C. 427 to B.C. 428.

In [ ]:
person={
    "name": "Plato",
    "country": "Ancient Greece",
    "born": -427,
    "teacher": "Socrates",
    "student": "Aristotle"
}
person["born"] = -428
print(person["born"])

-428

C) Dictionaries can have nested data too. Also, you can add a new key to a dictionary as they are mutable (changeable). Try to add the key "work" to dict with values shown below.

"work": ["Apology", "Phaedo", "Republic", "Symposium"]

In [ ]:
person={
    "name": "Plato",
    "country": "Ancient Greece",
    "born": -427,
    "teacher": "Socrates",
    "student": "Aristotle"
}
person["work"] = ["Apology", "Phaedo", "Republic", "Symposium"]
print(person)

{'name': 'Plato', 'country': 'Ancient Greece', 'born': -427, 'teacher': 'Socrates', 'student': 'Aristotle', 'work': ['Apology', 'Phaedo', 'Republic', 'Symposium']}

D) Add 2 inches to the son's height.

In [ ]:
son={
    "son's name": "Lucas",
    "son's eyes": "green",
    "son's height": 32,
    "son's weight": 25
}
son["son's height"] = son["son's height"] + 2
print(son)

{"son's name": 'Lucas', "son's eyes": 'green', "son's height": 34, "son's weight": 25}

E) Using .items() method generate a list of tuples consisted of each key value pair.

In [ ]:
son={
    "son's name": "Lucas",
    "son's eyes": "green",
    "son's height": 32,
    "son's weight": 25
}
answer_1 = son.items()
print(answer_1)

dict_items([("son's name", 'Lucas'), ("son's eyes", 'green'), ("son's height", 32), ("son's weight", 25)])

F) Using .get() method print the value of "son's eyes".

In [ ]:
son={
    "son's name": "Lucas",
    "son's eyes": "green",
    "son's height": 32,
    "son's weight": 25
}
answer_1 = son.get("son's eyes")
print(answer_1)

green

G) .get() method can be used just to get the value of a key. But it has more tricks up its sleeve.
Try to look for key: "son's age" and if nothing comes up make the .get() return "2".

In [ ]:
son={
    "son's name": "Lucas",
    "son's eyes": "green",
    "son's height": 32,
    "son's weight": 25
}
answer_1=son.get("son's age", 2)
print(answer_1)

2

H) Since dictionaries are mutable, they have some methods that tuples don't have.
.clear() is one of them and it clears the whole dictionary. Clear the whole dictionary and print it.

In [ ]:
son={
    "son's name": "Lucas",
    "son's eyes": "green",
    "son's height": 32,
    "son's weight": 25
}
son.clear()
print(son)

{}

I) Using len function, find how many keys there are in the dictionary.

In [ ]:
son={
    "son's name": "Lucas",
    "son's eyes": "green",
    "son's height": 32,
    "son's weight": 25
}
answer_1 = len(son)
print(answer_1)

4

J) What's the key with the highest value in the dictionary?

In [ ]:
son={
    "son's name": "Lucas",
    "son's eyes": "green",
    "son's height": 32,
    "son's weight": 25
}
answer_1=max(son)
print(answer_1)

son's weight

K) What's the key with the lowest value in the dictionary?

In [ ]:
son={
    "son's name": "Lucas",
    "son's eyes": "green",
    "son's height": 32,
    "son's weight": 25
}
answer_1=min(son)
print(answer_1)

son's eyes

#### 9. Strings

A) Assign the string below to the variable in the exercise.

"It's always darkest before dawn."

In [ ]:
text="It's always darkest before dawn."
print(text)

It's always darkest before dawn.

B) By using first, second and last characters of the string, create a new string.

In [ ]:
text="It's always darkest before dawn."
answer_1=text[0]+text[1]+text[-1]
print(answer_1)

It.

C) Replace the (.) with (!)

In [ ]:
text="It's always darkest before dawn."
text=text.replace(".", "!")
print(text)

It's always darkest before dawn!

D) Reassign text so that, all its characters are lowercase.

In [ ]:
text="EVERY Strike Brings Me Closer to the Next Home run."
text=text.lower()
print(text)

every strike brings me closer to the next home run.

E) Now make everything uppercase.

In [ ]:
text="don't stop me now."
text=text.upper()
print(text)

DON'T STOP ME NOW.

F) Make the string so that everything is properly and first letter is capital with one function.

In [ ]:
text="there are no traffic JamS Along The extra mile."
text=text.capitalize()
print(text)

There are no traffic jams along the extra mile.

G) Does the string start with an A? Assign a boolean answer to the answer_1 variable.

In [ ]:
text="There are no traffic jams along the extra mile."
answer_1=text.startswith("A")
print(answer_1)

False

H) Does it end with a fullstop (.) ?

In [ ]:
text="There are no traffic jams along the extra mile."
answer_1=text.endswith(".")
print(answer_1)

True

I) Using .index() method, identify the index of character: (v).

In [ ]:
text="The best revenge is massive success."
answer_1=text.index("v")
print(answer_1)

11

J) Using .find() method, identify the index of character: (m).

In [ ]:
text="The best revenge is massive success."
answer_1=text.find("m")
print(answer_1)

20

K) Try to see what results you get looking for character: (X). First with .find() method and then with .index() method.

In [ ]:
text="The best revenge is massive success."
answer_1=text.find("X")
print(answer_1)

-1

L) Which character occur more often in the string? "a" or "o" ? Print both counts inside the print function.

In [ ]:
text="People often say that motivation doesn't last. Well, neither does bathing.  That's why we recommend it daily."
answer_1=text.count("a")
answer_2=text.count("o")
print("count of a is: ", answer_1, " count of o is: ", answer_2)

count of a is:  7  count of o is:  7

M) Print the types of two given variables with the print function.

In [ ]:
v_1="1"
v_2=1

answer_1=type(v_1)
answer_2=type(v_2)

print(answer_1)
print(answer_2)

<class 'str'>
<class 'int'>

N) What is the length of the given string?

In [ ]:
text="1.975.000"
answer_1=len(text)
print(answer_1)

9

#### 10. .len()

A) Using len() function find out how many items are in the list.

In [ ]:
lst=[11, 10, 12, 101, 99, 1000, 999]
answer_1=len(lst)
print(answer_1)

7

B) len() function can also tell the length of a string. Find out the length of the string given below.

In [ ]:
msg="Be yourself, everyone else is taken."
msg_length=len(msg)
print(msg_length)

36

C) How many keys are there in the dictionary?

In [ ]:
scores={
    "Real Madrid": 13,
    "AC Milan": 7,
    "Bayern Munich":5,
    "Barcelona": 5,
    "Liverpool": 5
}
answer_1=len(scores)
print(answer_1)

5

D) Call the last element of the list by using the len() function.

In [ ]:
gift_list=['socks', '4K drone', 'wine', 'jam']
index_no=len(gift_list)-1
answer_1=gift_list[index_no]
print(answer_1)

jam

E) Below is a nested data. Find out the length of the item: 'raincoat'. You can use reverse indexing.

In [ ]:
gift_list=['4K drone', 'wine', 'jam', ['socks', 'pajamas', 'raincoat']]
answer_1=len(gift_list[-1][-1])
print(answer_1)

8

#### 11. .sort()

A) Sort the list in ascending order with .sort() method.

In [ ]:
lst=[11, 100, 99, 1000, 999]
lst.sort()
print(lst)

[11, 99, 100, 999, 1000]

B) This time sort the countries in alphabetic order.

In [ ]:
lst=["Ukraine", "Japan", "Canada", "Kazakhstan", "Taiwan", "India", "Belize"]
lst.sort(reverse = False)
print(lst)

['Belize', 'Canada', 'India', 'Japan', 'Kazakhstan', 'Taiwan', 'Ukraine']

C) Now sort the list in descending order with .sort() method.

In [ ]:
lst=[11, 100, 101, 999, 1001]
lst.sort(reverse = True)
print(lst)

[1001, 999, 101, 100, 11]

D) Can you sort the gift list in reverse alphabetic order?

In [ ]:
gift_list=['socks', '4K drone', 'wine', 'jam']
gift_list.sort(reverse = True)
print(gift_list)

['wine', 'socks', 'jam', '4K drone']

E) Sort the list below in reverse alphabetic order and then assign the last element to the answer_1 variable.

In [ ]:
NFL=["Panthers", "Bears", "Dolphins" "Patriots", "Saints", "Giants"]
NFL.sort(reverse = True)
answer_1 = NFL[-1]
print(answer_1)

Bears

F) Sort the cities from z to a.

In [ ]:
muni=["Melbourne", "Shanghai", "Delhi", "Atlanta", "Moscow", "Montreal"]
muni.sort(reverse = True)
print(muni)

['Shanghai', 'Moscow', 'Montreal', 'Melbourne', 'Delhi', 'Atlanta']

G) Sort the keys of the dictionary from a to z.
Hint: You might want to create a list of the keys first with the help of a dictionary method.

In [ ]:
prices={
    "tiramisu":5,
    "chocolate":2,
    "pudding":3,
    "cheesecake":4
}
key_list = list(prices.keys())
key_list.sort()
print(key_list)

['cheesecake', 'chocolate', 'pudding', 'tiramisu']

#### 12 .pop()

A) Pop the last item of the list below.

In [ ]:
lst=[11, 100, 99, 1000, 999]
popped_item=lst.pop()
print(popped_item)
print(lst)

999
[11, 100, 99, 1000]

B) Remove "broccoli" from the list using .pop and .index methods.

In [ ]:
lst=["milk", "banana", "eggs", "bread", "broccoli", "lemons"]
a=lst.index("broccoli")
item=lst.pop(a)
print(lst, item)

['milk', 'banana', 'eggs', 'bread', 'lemons'] broccoli

C) Save Italy's GDP in a separate variable and remove it from the dictionary.

In [ ]:
GDP_2018={
    "US": 21,
    "China": 16,
    "Japan": 5,
    "Germany": 4,
    "India": 3,
    "France": 3,
    "UK": 3,
    "Italy": 2
}
italy_gdp=GDP_2018.pop("Italy")
print(GDP_2018)
print(italy_gdp, "trillion USD")

{'US': 21, 'China': 16, 'Japan': 5, 'Germany': 4, 'India': 3, 'France': 3, 'UK': 3}
2 trillion USD

#### 13. range()

A) Create a range from 0 to 50, excluding 50.

In [ ]:
rng=range(0,50)
print(rng)

range(0, 50)

B) Create a range from 0 to 10 with steps of 2.

In [ ]:
rng=range(0,10,2)
print(list(rng))

[0, 2, 4, 6, 8]

C) Create a range from 100 to 160 with steps of 10. Then print it as a list.

In [ ]:
rng=range(100,160,10)
print(list(rng))

[100, 110, 120, 130, 140, 150]

D) Can you you create a list from 1300 to 700 with descending steps of 100? Is your stop value included in the list?

In [ ]:
rng=range(1300,700,-100)
print(list(rng))

[1300, 1200, 1100, 1000, 900, 800]

E) Can you you create a list from 1300 to 700 with descending steps of 100, this time including 700?

In [ ]:
rng=range(1300,699,-100)
print(list(rng))

[1300, 1200, 1100, 1000, 900, 800, 700]